# Tugas Besar II4042 Kecerdasan Buatan untuk Bisnis

# Pendahuluan

# Lihat Isi Data

In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/heart_2022_no_nans.csv')
df.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [4]:
df.info

<bound method DataFrame.info of                  State     Sex GeneralHealth  PhysicalHealthDays  \
0              Alabama  Female     Very good                 4.0
1              Alabama    Male     Very good                 0.0
2              Alabama    Male     Very good                 0.0
3              Alabama  Female          Fair                 5.0
4              Alabama  Female          Good                 3.0
...                ...     ...           ...                 ...
246017  Virgin Islands    Male     Very good                 0.0
246018  Virgin Islands  Female          Fair                 0.0
246019  Virgin Islands    Male          Good                 0.0
246020  Virgin Islands  Female     Excellent                 2.0
246021  Virgin Islands    Male     Very good                 0.0

        MentalHealthDays                                    LastCheckupTime  \
0                    0.0  Within past year (anytime less than 12 months ...
1                    0.0  Within past year (anytime less than 12 months ...
2                    0.0  Within past year (anytime less than 12 months ...
3                    0.0  Within past year (anytime less than 12 months ...
4                   15.0  Within past year (anytime less than 12 months ...
...                  ...                                                ...
246017               0.0  Within past 2 years (1 year but less than 2 ye...
246018               7.0  Within past year (anytime less than 12 months ...
246019              15.0  Within past year (anytime less than 12 months ...
246020               2.0  Within past year (anytime less than 12 months ...
246021               0.0  Within past year (anytime less than 12 months ...

       PhysicalActivities  SleepHours            RemovedTeeth HadHeartAttack  \
0                     Yes         9.0            None of them             No
1                     Yes         6.0            None of them             No
2                      No         8.0  6 or more, but not all             No
3                     Yes         9.0            None of them             No
4                     Yes         5.0                  1 to 5             No
...                   ...         ...                     ...            ...
246017                Yes         6.0            None of them             No
246018                Yes         7.0            None of them             No
246019                Yes         7.0                  1 to 5             No
246020                Yes         7.0            None of them             No
246021                 No         5.0            None of them            Yes

        ... HeightInMeters WeightInKilograms    BMI AlcoholDrinkers  \
0       ...           1.60             71.67  27.99              No
1       ...           1.78             95.25  30.13              No
2       ...           1.85            108.86  31.66             Yes
3       ...           1.70             90.72  31.32              No
4       ...           1.55             79.38  33.07              No
...     ...            ...               ...    ...             ...
246017  ...           1.78            102.06  32.28             Yes
246018  ...           1.93             90.72  24.34              No
246019  ...           1.68             83.91  29.86             Yes
246020  ...           1.70             83.01  28.66              No
246021  ...           1.83            108.86  32.55              No

       HIVTesting FluVaxLast12 PneumoVaxEver  \
0              No          Yes           Yes
1              No          Yes           Yes
2              No           No           Yes
3              No          Yes           Yes
4              No          Yes           Yes
...           ...          ...           ...
246017         No           No            No
246018         No           No            No
246019        Yes          Yes           Yes
246020        Yes          Yes            No
246021        Yes          Yes           Yes

                                        TetanusLast10Tdap HighRiskLastYear  \
0                                      Yes, received Tdap               No
1       Yes, received tetanus shot but not sure what type               No
2       No, did not receive any tetanus shot in the pa...               No
3       No, did not receive any tetanus shot in the pa...               No
4       No, did not receive any tetanus shot in the pa...               No
...                                                   ...              ...
246017  Yes, received tetanus shot but not sure what type               No
246018  No, did not receive any tetanus shot in the pa...               No
246019  Yes, received tetanus shot but not sure what type               No
246020  Yes, received tetanus shot but not sure what type               No
246021  No, did not receive any tetanus shot in the pa...               No

       CovidPos
0            No
1            No
2           Yes
3           Yes
4            No
...         ...
246017       No
246018      Yes
246019      Yes
246020       No
246021      Yes

[246022 rows x 40 columns]>

In [5]:
df.describe()

,PhysicalHealthDays,MentalHealthDays,SleepHours,HeightInMeters,WeightInKilograms,BMI
count,246022.000000,246022.000000,246022.000000,246022.000000,246022.000000,246022.000000
mean,4.119026,4.167140,7.021331,1.705150,83.615179,28.668136
std,8.405844,8.102687,1.440681,0.106654,21.323156,6.513973
min,0.000000,0.000000,1.000000,0.910000,28.120000,12.020000
25%,0.000000,0.000000,6.000000,1.630000,68.040000,24.270000
50%,0.000000,0.000000,7.000000,1.700000,81.650000,27.460000
75%,3.000000,4.000000,8.000000,1.780000,95.250000,31.890000
max,30.000000,30.000000,24.000000,2.410000,292.570000,97.650000